<settings>
    <!-- omitted xml -->
    <!-- 请妥善保管好您的配置，不要随意分享给他人 -->
    <servers>
        <server>
            <id>guetbigdata-depression-demo</id>
            <username>demo-1688325019464</username>
            <password>36cb4f083e48e7105f652efa3c0625f6b3d134dc</password>
        </server>
    </servers>
</settings>